.prof-img {
  height: 100px;
  width: 100px;
  margin: 5px;
  border: 1px solid #000;

  &.hide {
    display: none;
  }
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#app, .app-cont {
  height: 100%;
}

.header {
  text-align: center;
  font-size: 30px;
  background: #3F51B5;
  padding: 10px;
  color: #eee;
}

.search-wrap {
  text-align: center;
  background: #C5CAE9;
}

.query-result {
  border-bottom: 1px solid #ccc;
  padding-bottom: 22.5px;
  margin-bottom: 22.5px;
}

.result-wrap {
  height: calc(100% - 144px);
  overflow: auto;
  text-align: center;
  position: relative;
  padding: 22.5px 0;
  box-sizing: border-box;
  background: #E8EAF6;
}

.footer {
  padding: 10px;
  text-align: center;
  height: 40px;
  background: #3F51B5;
  box-sizing: border-box;
}

.twitter-share-button {
  margin-left: 30px;
}

.prof-img-wrap {
  display: inline-block;
  position: relative;
  .share-icon {
    cursor: pointer;
    height:15px !important;
    width: 15px !important;
  }

  &.selected {
    .prof-img {
      height: 250px;
      width: 250px;
    }

    .prof-img-value {
      font-size: 16px;
      padding: 5px 8px;
    }
  }
}

.loader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.error-cont{
  width: 100%;
  max-width: 500px;
  padding: 0 30px;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.prof-img-value {
  position: absolute;
  width: calc(100% - 10px);
  bottom: 10px;
  left: 5px;
  color: white;
  font-size: 15px;
  background: rgba(0, 0, 0, 0.3);
  text-align: left;
  padding: 2px 5px;
  box-sizing: border-box;
}

@media screen and (min-width: 900px) {

  .header {
    font-size: 40px;
    padding: 15px;
  }

  .query-result {
    padding: 20px 0 40px 0;
    margin-bottom: 0;
  }

  .result-wrap {
    height: calc(100% - 164px);
    padding: 22.5px 61px;
  }

  .batch-cont {
    padding: 40px 0;
  }

  .prof-img-value{
    font-size: 8px;
  }

  .error-cont{
    top: 10%;
  }

  .prof-img-wrap {
    .share-icon {
      display: none !important;
      height:9px !important;
      width: 9px !important;
    }

    &:not(.selected):hover {
      transform: scale(2);
      z-index: 1;

      .share-icon {
        display: block !important;
      }
    }

    &.selected {
      .share-icon {
        display: block !important;
        height:18px !important;
        width: 18px !important;
      }
    }
  }
}