.prof-img {
  height: 75px;
  width: 75px;
  margin: 5px;
  border: 1px solid #000;

  &.hide {
    display: none;
  }

}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#app, .app-cont {
  height: 100%;
}

.header {
  text-align: center;
  font-size: 40px;
  background: #3F51B5;
  padding: 25px;
  color: #eee;
}

.search-wrap {
  text-align: center;
  background: #C5CAE9;
}

.query-result {
  border-bottom: 1px solid #ccc;
  padding-bottom: 37.5px;
}

.result-wrap {
  height: calc(100% - 184px);
  overflow: auto;
  text-align: center;
  position: relative;
  padding: 37.5px 61px;
  box-sizing: border-box;
  background: #E8EAF6;
}

.batch-cont {
  padding: 40px 0;
}

.footer {
  padding: 10px;
  text-align: center;
  height: 40px;
  background: #3F51B5;
  box-sizing: border-box;
}

.twitter-share-button {
  margin-left: 30px;
}

.prof-img-wrap {
  display: inline-block;
  position: relative;
  .share-icon {
    cursor: pointer;
    display: none !important;
  }

  &:not(.selected):hover {
    transform: scale(3);
    z-index: 1;

    .share-icon {
      display: block !important;
    }
  }

  &.selected {
    .share-icon {
      display: block !important;
    }

    .prof-img {
      height: 200px;
      width: 200px;
    }

    .prof-img-value {
      font-size: 16px;
      padding: 5px 8px;
    }
  }
}

.prof-img-value {
  position: absolute;
  width: calc(100% - 10px);
  bottom: 10px;
  left: 5px;
  color: white;
  font-size: 8px;
  background: rgba(0, 0, 0, 0.3);
  text-align: left;
  padding: 2px 5px;
  box-sizing: border-box;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}